#hContainer {
    background-image: url('../assets/img/baner2.png');
    background-position: center bottom;
}

.biomas {
    padding: var(--gap);
}

.biomas h2 {
    color: var(--accent);
    font-family: "AcadianRunes", sans-serif;
    border-bottom: 3px solid var(--accent);
    padding-bottom: 10px;
    margin-bottom: var(--gap);
    text-align: center;
}

.indice {
    background-color: var(--panel);
    border: 1px solid var(--wood);
    padding: var(--gap);
    margin-bottom: var(--gap);
    border-radius: 5px;
}

.indice h3 {
    color: var(--wood);
    font-family: "AcadianRunes", sans-serif;
    border-bottom: 1px solid var(--wood);
    margin-bottom: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.enlace {
    color: var(--muted);
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
    background-color: var(--card);
    border-radius: 3px;
    transition: all 0.2s;
}

.enlace:hover {
    color: var(--accent);
    background-color: #2a2a2a;
}

.bDetalle {
    background-color: var(--panel);
    padding: var(--gap);
    margin-bottom: var(--gap);
    border: 1px solid var(--forest);
    border-radius: 5px;
}

.bHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.bHeader img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid var(--accent);
}

.bDetalle h3 {
    color: white;
    font-family: "AcadianRunes", sans-serif;
    font-size: 20px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.bDificultad {
    color: var(--accent);
    font-size: 15px;
    font-weight: bold;
}

/* CARACTERÍSTICAS DEL BIOMA (Recursos y Peligros) */
.bCaracteristicas {
    display: flex;
    gap: var(--gap);
    margin-top: 15px;
}

.caract {
    flex: 1;
    /* Ocupa el mismo espacio */
    background-color: var(--card);
    padding: 15px;
    border-radius: 5px;
}

.caract h4 {
    color: var(--wood);
    font-family: "AcadianRunes", sans-serif;
    border-bottom: 1px solid var(--wood);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.caract ul {
    list-style-type: none;
    /* Eliminar puntos predeterminados */
    padding-left: 0;
}

.caract li {
    color: var(--muted);
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

/* Simular el punto con CSS */
.caract li::before {
    content: "•";
    color: var(--accent);
    font-weight: bold;
    display: inline-block;
    width: 16px;
    margin-left: -16px;
}

.info {
    flex: 1;
    background-color: var(--card);
    padding: 15px;
    border-radius: 5px;
}